.prices {
    position: relative;
    width: 690px;
    top: -275px;
}

.prices__position {
    position: absolute;
    background: white;
    opacity: 0.9;
    width: 690px;
    height: 639px;
    padding: 50px 60px;
    box-sizing: border-box;
}

.prices__exit {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 15px;
    height: 15px;
    background: url('../../image/close.gif');
    cursor: pointer;
}

.prices__header {
    font-family: 'Questrial', sans-serif;
    font-size: 36px;
    color: #08afee;
    line-height: 20px;
    margin-bottom: 27px;
}

.price__block {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    margin-bottom: 35px;
    line-height: 22px;
}

.price__block_bold {
    font-weight: bold;
}

.price__block_blue {
    color: #08afee;
}