@import url('https://fonts.googleapis.com/css?family=Questrial');

body {
  margin: 0;
  padding: 0;
  padding-top: 70px;
  box-sizing: border-box;
  width: 100%;
  height: 900px;
  font-family: sans-serif;
  background: url('./image/bg_img1.jpg') no-repeat;
  background-size: 100%;
}

.content {
  width: 960px;
  margin: 0 auto;
}

.main {
  width: 100%;
  height: 769px;
}

.logo {
  width: 270px;
  height: 270px;
  background: url('./image/logo.jpg');
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.list {
  float: left;
  margin-top: 53px;
  width: 270px;
  height: 262px;
}

.list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  width: 100%;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
}

.list li a {
    display: block;
    text-indent: 48px;
    text-decoration: none;
    color: #434343;
    height: 100%;
}

.list li:hover{
  background-color: #07a6eb;
}

.list li:hover a {
  color: white;
}

.active-link {
    background: #07a6eb;
}

.active-style {
    color: white;
}

.about,
.schedule,
.teachers,
.prices,
.contacts {
  float: left;
  width: 690px;
  height: 369px;
}

.about {
  position: relative;
  padding: 35px 60px;
  box-sizing: border-box;
  background-color: white;
}

.about__block {
  width: 250px;
  height: 274px;
  float: left;
}

.about__block:first-child {
  margin-right: 70px;
}

.about__block_title {
  font-family: 'Questrial', sans-serif;
  letter-spacing: 0.1px;
  font-size: 32px;
  color: #08afee;
}

.about__block_slogan {
    font-family: 'Questrial', sans-serif;
    font-style: italic;
    font-size: 18px;
    color: #7f7f7f;
    margin-top: 20px;
}

.about__block_slogan:before {
    content: '';
    float: left;
    width: 14px;
    height: 50px;
    margin-right: 8px;
    background: url('image/quot1.png') no-repeat;
}

.about__block_slogan:after {
    content: '';
    background-color: 1px solid black;
    display: inline-block;
    width: 14px;
    height: 9px;
    margin: 0 0 4px 8px;
    background: url('image/quot2.png') no-repeat;
}

.about__block_text {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #4d4d4d;
    margin-top: 20px;
    line-height: 25px;
}

.about__block_footer {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #08afee;
    margin-top: 30px;
}

.about__block_icons {
    width: 71px;
    height: 31px;
    margin-top: 40px;
}

.about__block_up {
    float: left;
    margin-right: 9px;
    width: 31px;
    height: 31px;
    background: url('image/markers.png');
}

.about__block_down {
    float: left;
    width: 31px;
    height: 31px;
    background: url('image/markers.png') 30px 0;
}

.about__block_up:hover,
.about__block_down:hover {
    opacity: 0.9;
    cursor: pointer;
}

.about__exit {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 15px;
    height: 15px;
    background: url('image/close.gif');
}

.about__block_underline {
    text-decoration: underline;
}

.about__block_bold {
    font-weight: bold;
}

.about__exit:hover {
    cursor: pointer;
}









.footer {
  float: left;
  width: 100%;
  height: 135px;
  background-color: white;
  font-family: 'Questrial', sans-serif;
  font-size: 18px;
}

.footer__block-left {
    float: left;
    width: 270px;
    height: 131px;
    text-align: center;
    padding-top: 40px;
    box-sizing: border-box;
}

.footer__number {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #059be8;
    text-align: center;
    line-height: 22px;
    margin-left: 3px;
    color: white;
}

.footer__block_center {
    height: 30px;
}

.footer__block-left_icons {
    display: inline-block;
    width: 93px;
    height: 18px;
}

.footer_icon a {
    float: left;
    margin-right: 7px;
    width: 18px;
    height: 18px;
}

.footer_icon:nth-child(1) a {
    background: url('image/icon1.jpg');
}

.footer_icon:nth-child(2) a {
    background: url('image/icon2.jpg');
}

.footer_icon:nth-child(3) a {
    background: url('image/icon3.jpg');
}

.footer_icon:nth-child(4) a {
    background: url('image/icon4.jpg');
    margin-right: 0;
}

.footer__block-right {
    float: right;
    display: table;
    width: 690px;
    height: 131px;
}

.footer__block_vertical {
    display: table-cell;
    vertical-align: middle;
}

.footer__block_vercenter {
    margin: 0 auto;
    width: 271px;
    height: 33px;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    color: #434343;
    text-align: center;
}

.footer__block_blue {
    color: #08afee;
}