.contacts {
    position: relative;
    width: 690px;
    top: -275px;
}

.contacts__position {
    position: absolute;
    background: white;
    opacity: 0.9;
    width: 690px;
    height: 639px;
    padding: 50px 60px;
    box-sizing: border-box;
}

.contacts__exit {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 15px;
    height: 15px;
    background: url('../../image/close.gif');
    cursor: pointer;
}

.contacts__header {
    font-family: 'Questrial', sans-serif;
    font-size: 36px;
    color: #08afee;
}

.contacts__block {
    position: relative;
    display: inline-block;
    width: 285px;
    height: 225px;
}

.contacts__block_address {
    position: absolute;
    font-weight: bold;
    margin-top: 20px;
}

.contacts__block_info {
    position: absolute;
    top: 140px;
    width: 77px;
    height: 93px;
    line-height: 22px;
}

.contacts__block_data {
    position: absolute;
    top: 140px;
    left: 100px;
    width: 144px;
    height: 93px;
    line-height: 22px;
}


.contacts__block_email {
    color: #08afee;
}

.contacts__text {
    position: absolute;
    margin-top: 20px;
    line-height: 21px;
}

.contacts__formdata {
    width: 100%;
    height: 310px;
    margin-top: 50px;
}

.contacts__form_name,
.contacts__form_email,
.contacts__form_message {
    margin-top: 5px;
    border: 1px solid #e5e4e3;
    width: 566px;
    height: 28px;
    text-indent: 15px;
}

.contacts__form_message {
    width: 562px;
    height: 122px;
    resize: none;
}

::-webkit-input-placeholder {color:#b4b4b4;}
::-moz-placeholder          {color:#b4b4b4;}
:-moz-placeholder           {color:#b4b4b4;}
:-ms-input-placeholder      {color:#b4b4b4;}

.contacts__form_btn {
    float: right;
    margin-top: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
}

.contacts__link_clear {
    color: #08afee;
}
.contacts__link_send {
    margin-left: 19px;
    color: #08afee;
}